#Header{
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

#Content{
    border: solid 8px black;
    width: 700px;

}

#LeftNav{
    border: solid 8px black;
    width: 400px;
    float: left;
}

#Footer{
    border: solid 8px black;
}

