#Header{
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#Content{
    border: solid 8px black;
}

#LeftNav{
    border: solid 8px black;
}

#Footer{
    border: solid 8px black;
}

